body {
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../static/images/background-biker-blur-1161996.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-fill-mode: rgba(0,0,0,0.5);
  margin-top: 0px;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
