.colorPrimary{
    color:purple;
}
.colorSecondary{
    color: #4e004e;
}

.card {
    margin-top: 10px;
}


.align-content{
    align-content: center;

}

.errors {
    color: #bf3f2b;
    font-size: 14px;
}

.header{
    font-size: 19px;
    color: #4e004e;
}

.align-button{
  margin-left: 90px;
}

.align-inputs{
  margin-left: 40px;

}

.bg{
  background: #bf3f2b;
}
